.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 1rem;
  transition: all 100ms ease-in-out;

  h1 {
    font-family: "Rock Salt", cursive;
    color: rgb(255, 255, 253);
    text-shadow: 0 2px 2px #473bb9;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.25);
  }
  .courses {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    color: #808080;
    .course {
      background-color: #bedfd4;
      padding: 1rem;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
      transition: all 250ms ease-in-out;
      user-select: none;
      &:hover {
        background-color: rgb(138, 146, 194);
      }
      &.active {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
